* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Nunito Sans', sans-serif;
    cursor: url(IMG/Cursor.cur), pointer;
}

body {
    width: 1280px;
    height: 1024px;
    background: rgb(23, 85, 156, 0.5);
}

header {
    position: relative;
    width: 1280px;
    height: 124px;
    background: linear-gradient(to right, #46acf5c6, rgb(34, 4, 119, 0.9));
}

#Logotipo {
    position: absolute;
    top: 10px;
    left: 12px;
}
